/* About.css */

.about-container {  
  width: 400px; /* Adjust this to the desired width of your login form */
  padding: 20px;
  background-color: #ecf0f1;
  color: var(--text-color);
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  margin: 50px auto;
  text-align: center;
  }
  
  .feedback-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .feedback-form label {
    color:#2c3e50;
    margin-bottom: 50px;
  }
  
  .feedback-form textarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #2c3e50;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .feedback-form button[type='submit'] {
    width: 100%; /* Adjust width as needed */
    padding: 10px;
    background-color: #a8a6e7;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }

  .feedback-form button:hover {
    background-color: #8481c6;
  }
  
  .thanks-msg {
    margin-top: 20px;
    font-size: 1.2em;
    color: #fff;
    background-color: #192a56;
    padding: 10px;
    border-radius: 5px;
  }
  