.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f2f2f2;
}

.container {
  width: 450px;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.centered {
  width: 300px; /* Adjust this to the desired width of your login form */
  margin: 0 auto; /* Centers the login container horizontally */
}

h2 {
  text-align: center;
  color: #333;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

input[type='text'],
input[type='password'],
input[type='email'] {
  width: 300px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button {
  width: 300px;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

.error-message {
  color: #ff0000;
  text-align: center;
  margin-top: 10px;
}

.extra-links {
  margin-top: 20px;  
  margin-left: 20px;
  text-align: left;
}

.extra-links a {
  color: #007bff;
  text-decoration: none;
}

.extra-links a:hover {
  text-decoration: underline;
}