.folowersdiv {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally */
    text-align: center;
    width: 200px;
    margin: 0 auto; /* Center horizontally using margin */
    
  }
  
  .ImgDiv {
    text-align: center;
    flex: 1;
    margin-top: 10px;
  }

 .Usernametxt {
    font-size: large;
    color: rgb(158, 69, 241);
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 10px; /* Add some space below the h4 */
}

.Username {
    padding: 10px;
    border-radius: 20px;
    background-color: rgba(174, 63, 214, 0.862);
    color: rgb(19, 18, 19);
    font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
    font-size: larger;
    font-weight: bold;
}